@media only screen and (min-width: 355px) and (max-width:365px) {
    .popup {
        width: 350px;
        height: 280px;
        padding: 30px 20px;
        background: white;
        border-radius: 10px;
        box-sizing: border-box;
        text-align: center;
        top: 0px;
        margin-left: -87%;
    }
}
@media only screen and (min-width: 370px) and (max-width:380px) {

    .popup {
        width: 350px;
        height: 280px;
        padding: 30px 20px;
        background: white;
        border-radius: 10px;
        box-sizing: border-box;
        text-align: center;
        top: 0px;
        margin-left: -87%;
    }
}

@media only screen and (min-width: 381px) and (max-width:402px) {
    .popup {
        width: 350px;
        height: 280px;
        padding: 30px 20px;
        background: white;
        border-radius: 10px;
        box-sizing: border-box;
        text-align: center;
        top: 0px;
        margin-left: -87%;
    }
}

@media only screen and (min-width: 403px) and (max-width:415px) {
    .popup {
        width: 350px;
        height: 280px;
        padding: 30px 20px;
        background: white;
        border-radius: 10px;
        box-sizing: border-box;
        text-align: center;
        top: 0px;
        margin-left: -87%;
    }
}